//*Sass file that assigns: The text color #3D3D3D to the HTML tags body and p and The background color #6D6D6D to the HTML tags body and h2 *//
$text-color: #3D3D3D;
$background-color: #6D6D6D;

body {
    color: $text-color;
    color: $background-color;
}
p {
    color: $text-color
}
h2 {
    color: $background-color;
}
